<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gameConsole.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D84D9AC01D1AF2BA00127CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D84D9AD41D1AF2BB00127CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D84D9ADF1D1AF2BB00127CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
